<!DOCTYPE html>
<html>
<head>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<form action="" method="POST" role="form" class="form-horizontal">
	<body>
	<div class="container-fluid">
		<section class="container">
			<div class="container-page">
				<h3 class="dark-grey">Play The Wikipedia Game</h3>

				<div class="form-group col-lg-12">
					<label>Starting Page</label>
					<input type="text" name="" class="form-control" id="" value="">
				</div>

				<div class="form-group col-lg-12">
					<label>Ending Page</label>
					<input type="text" name="" class="form-control" id="" value="">
				</div>
		<div class="form-group col-md-6">
					<label>Maximum Turns Allowed</label>
					<input type="number" min="1" name="" class="form-control" id="" value="">
				</div>

				<div class="col-md-6">
			<label> </label>
					<button type="submit" class="btn btn-primary" style="width:100%">Start</button>
				</div>
			</div>
		</section>
	</div>
	</body>
</form>
</html>
